nav {
  margin-bottom: 16px;
}

a {
  color: black;
  &:hover {
    text-decoration: none;
  }
}

h3, h5 {
  margin: 16px 0px;
}

pre {
  background-color: lighten(grey, 43%);
  padding: 8px;
  border-radius: 8px;
}

.descriptions {
  width: 60%;
}

.parameters {
  width: 20%;
}

.values {
  width: 20%;
}
